<or-action-modal [close$]="close$"
                 [heading]="'form.shipping_goods.heading' | translate"
                 [buttons]="modalButtons"
                 [loading]="loading"
                 *ngIf="isReady"
                 class="dark"
>
  <div class="inner-padding">
    <div class="caption-1" translate>form.shipping_goods.note</div>
  </div>
  <div class="inner-padding" *ngIf="form?.getError('error') || error">
    <div class="error small">{{ form?.getError('error') || error }}</div>
  </div>
  <form novalidate (ngSubmit)="onSubmit()" [formGroup]="form" *ngIf="form !== null">
    <div *ngIf="form.get('amount')" class="form-table">
      <fieldset class="transparent-form">
        <div class="clearfix">
          <div class="col-xs-12" [ngClass]="{'has-error': form.get('amount').errors}">
            <div class="input-group">
              <span class="input-group-main">
                <input class="form-control"
                       id="input_amount"
                       placeholder="{{ 'form.shipping_goods.labels.amount' | translate }}"
                       formControlName="amount"
                       type="number">
                <label for="input_amount">{{ 'form.shipping_goods.labels.amount' | translate }}</label>
                <span class="error small" [innerHtml]="form.get('amount').errors" *ngIf="form.get('amount').errors"></span>
              </span>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </form>
</or-action-modal>
