<h4>Please select custom element</h4>
<ul>
  <li><a routerLink="/en/custom-element-by-channel-set-id">Custom Element By channel set ID</a></li>
  <li>
    <a routerLink="/en/custom-element-by-channel-set-id-finexp">Custom Element By channel set ID for Finance Express</a>
  </li>
  <li><a routerLink="/en/custom-element-as-finexp">Custom Element As Finance Express</a></li>
  <li><a routerLink="/en/lib-checkout-widget">Custom Element Widget</a></li>
  <li><a routerLink="/en/edit-transaction">Edit Transaction</a></li>
  <li><a routerLink="/en/lib-by-channel-set-id">LIB By channel set ID (DEPRECATED)</a></li>
  <li><a routerLink="/en/iframe">Iframe</a></li>
</ul>
