<form novalidate class="form-table form-table-horizontal no-padding" [formGroup]="form" *ngIf="form" (keydown)="onFormKey($event)">
  <button *ngIf="!hideLink"
          color="muted-dark"
          mat-raised-button
          [class.button-settings-toggle]="true"
          [class.mat-button-xxs]="true"
          [class.mat-button-menu]="true"
          [class.mat-button-small-padding]="true"
          [matMenuTriggerFor]="linksMenu"
          pe-qa-text-editor-toolbar="links"
  >
    <span [innerHtml]="linkToText"></span>
    <svg class="icon icon-16"><use xlink:href="#icon-arrow-down-small-16"></use></svg>
  </button>
  <mat-menu #linksMenu="matMenu" panelClass="pe-bootstrap" class="mat-menu-dark-muted mat-menu-editor-sm mat-menu-editor mat-menu-fieldset">
    <div class="form-table" (click)="$event.stopPropagation()">
      <pe-form-fieldset [isSubmitted]="isSubmitted"
                        [fields]="hrefFieldset"
                        [formGroup]="form"
                        [errors]="errors$ | async"
                        [formStyle]="'dark'"
                        [orientation]="'horizontal'"
      ></pe-form-fieldset>
    </div>

    <ng-container *ngIf="!hideLink">
      <ng-container *ngFor="let link of links">
        <button mat-menu-item (click)="setCurrentLink(link); $event.stopPropagation()" [attr.pe-qa-text-editor-toolbar]="'links-' + parseAttribute(link.title)">
          <span class="link-menu-item-text">{{ link.title }}</span>
          <svg class="icon icon-12 icon-checkmark" *ngIf="isActiveLink(link)">
            <use xlink:href="#icon-checkmark-24"></use>
          </svg>
        </button>
      </ng-container>
    </ng-container>
  </mat-menu>
  <pe-form-fieldset *ngIf="!hideOpenNewTab && !hideLink"
    [isSubmitted]="isSubmitted"
    [fields]="openInNewTabFieldset"
    [formGroup]="form"
    [errors]="errors$ | async"
    [formStyle]="'dark'"
    [orientation]="'horizontal'"
    ></pe-form-fieldset>
  <pe-form-fieldset *ngIf="!hideFontSize"
                    class="toolbar-font-size"
                    [isSubmitted]="isSubmitted"
                    [fields]="fontFieldset"
                    [formGroup]="form"
                    [errors]="errors$ | async"
                    [formStyle]="'dark'"
                    [orientation]="'horizontal'"
  ></pe-form-fieldset>
  <pe-form-fieldset *ngIf="!hideFontFamily && fontFamilies.length"
                    [isSubmitted]="isSubmitted"
                    [fields]="fontFamilyFieldset"
                    [formGroup]="form"
                    [errors]="errors$ | async"
                    [formStyle]="'dark'"
                    [orientation]="'horizontal'"
  ></pe-form-fieldset>
  <pe-form-fieldset
    *ngIf="!hideColorPicker"
    class="right-space"
    [isSubmitted]="isSubmitted"
    [fields]="colorFieldset"
    [formGroup]="form"
    [errors]="errors$ | async"
    [formStyle]="'dark'"
    [orientation]="'horizontal'"
  ></pe-form-fieldset>
  <span class="seperator" *ngIf="!hideColorPicker || !hideLink || !hideFontSize"></span>
  <button class="text-editor-action" *ngIf="!hideDecorations"
          (click)="decorationClick(ExecuteCommands.BOLD)"
          pe-qa-text-editor-toolbar="bold"
          [ngClass]="{'active': textDecoration[ExecuteCommands.BOLD]}">
    <svg class="icon icon-16"><use xlink:href="#icon-me-bold-16"></use></svg>
  </button>
  <button class="text-editor-action" *ngIf="!hideDecorations"
          (click)="decorationClick(ExecuteCommands.ITALIC)"
          pe-qa-text-editor-toolbar="italic"
          [ngClass]="{'active': textDecoration[ExecuteCommands.ITALIC]}">
    <svg class="icon icon-16"><use xlink:href="#icon-me-italic-16"></use></svg>
  </button>
  <button class="text-editor-action" *ngIf="!hideDecorations"
          (click)="decorationClick(ExecuteCommands.UNDERLINE)"
          [ngClass]="{'active': textDecoration[ExecuteCommands.UNDERLINE]}"
          pe-qa-text-editor-toolbar="underline">
    <svg class="icon icon-16"><use xlink:href="#icon-me-underline-16"></use></svg>
  </button>
  <span class="seperator" *ngIf="!hideDecorations"></span>
  <button class="text-editor-action" *ngIf="!hideJustifies"
          [ngClass]="{'active': justifyContent === ExecuteCommands.JUSTIFY_LEFT}"
          pe-qa-text-editor-toolbar="justify-left"
          (click)="justifyClick(ExecuteCommands.JUSTIFY_LEFT)">
    <svg style="transform: rotateY(180deg)" class="icon icon-16"><use xlink:href="#icon-me-justify-right-16"></use></svg>
  </button>
  <button class="text-editor-action" *ngIf="!hideJustifies"
          pe-qa-text-editor-toolbar="justify-center"
          [ngClass]="{'active': justifyContent === ExecuteCommands.JUSTIFY_CENTER}"
          (click)="justifyClick(ExecuteCommands.JUSTIFY_CENTER)">
    <svg class="icon icon-16"><use xlink:href="#icon-me-justify-center-16"></use></svg>
  </button>
  <button class="text-editor-action" *ngIf="!hideJustifies"
          [ngClass]="{'active': justifyContent === ExecuteCommands.JUSTIFY_RIGHT}"
          pe-qa-text-editor-toolbar="justify-right"
          (click)="justifyClick(ExecuteCommands.JUSTIFY_RIGHT)"><svg class="icon icon-16">
    <use xlink:href="#icon-me-justify-right-16"></use></svg>
  </button>
  <button class="text-editor-action" *ngIf="!hideJustifies"
          [ngClass]="{'active': justifyContent === ExecuteCommands.JUSTIFY_FULL}"
          pe-qa-text-editor-toolbar="justify-full"
          (click)="justifyClick(ExecuteCommands.JUSTIFY_FULL)">
    <svg class="icon icon-16"><use xlink:href="#icon-me-justify-full-16"></use></svg>
  </button>
  <span class="seperator" *ngIf="!hideJustifies"></span>
  <button class="text-editor-action" *ngIf="!hideLists"
          [ngClass]="{'active': contentList === ExecuteCommands.LIST_UNORDERED}"
          pe-qa-text-editor-toolbar="list-unordered"
          (click)="listClick(ExecuteCommands.LIST_UNORDERED)">
    <svg class="icon icon-16"><use xlink:href="#icon-me-unordered-list-16"></use></svg>
  </button>
  <button class="text-editor-action" *ngIf="!hideLists"
          [ngClass]="{'active': contentList === ExecuteCommands.LIST_ORDERED}"
          pe-qa-text-editor-toolbar="list-ordered"
          (click)="listClick(ExecuteCommands.LIST_ORDERED)">
    <svg class="icon icon-16"><use xlink:href="#icon-me-ordered-list-16"></use></svg>
  </button>

</form>
