<div>
  <mat-form-field [floatLabel]="floatLabel"
                  [hideRequiredMarker]="hideRequiredMarker"
                  [class.mat-form-field-has-prefix]="hasAddonPrepend"
                  [class.mat-form-field-addon-style-filled]="isAddonStyleFilled">
    <div class="mat-input-with-addon-inline-prepend-wrapper">
      <pe-form-addon-inline-prepend [addon]="addonPrepend" *ngIf="hasAddonInlinePrepend"></pe-form-addon-inline-prepend>
      <material-iframe-input *ngIf="formToken"
                             [attr.pe-qa-input]="controlQaId"
                             [attr.tabindex]="tabIndex"
                             [attr.name]="nameAttribute"
                             [attr.autocomplete]="autocompleteAttribute"
                             [errorStateMatcher]="errorStateMatcher"
                             [formControl]="formControl"
                             [placeholder]="placeholder"
                             [required]="required"
                             [peBlockCopyPaste]="blockCopyPaste"

                             [type]="type"
                             [formToken]="formToken"
                             [paymentFlowId]="paymentFlowId"
                             [formKey]="formKey"
                             [minLength]="minLength"
                             [maxLength]="maxLength"
                             [numberMin]="numberMin"
                             [numberMax]="numberMax"
                             [numberIsInteger]="numberIsInteger"
                             [showNumberControls]="showNumberControls"

                             (focus)="onFocus($event)"
                             (blur)="onBlur($event)"
      ></material-iframe-input>

      <!--
      We have to add this useless input to avoid stupid Angular error "mat-form-field must contain a MatFormFieldControl"
      Probably they didn't expect that somebody can make some new custom control without <input>
      -->
      <input matInput class="hidden">
    </div>
    <mat-error *ngIf="errorMessage && formControl?.invalid">{{ errorMessage }}</mat-error>
    <pe-form-addon matSuffix [addon]="addonAppend" *ngIf="hasAddonAppend"></pe-form-addon>
    <pe-form-addon matPrefix #addonPrependElem [addon]="addonPrepend" *ngIf="hasAddonPrepend"></pe-form-addon>
  </mat-form-field>
</div>
