@import '../../../../../../../../scss/pe_variables';

.color-white {
  background-color: $color-white;
}

.color-white-grey-1 {
  background-color: $color-white-grey-1;
}

.color-white-grey-2 {
  background-color: $color-white-grey-2;
}

.color-white-grey-3 {
  background-color: $color-white-grey-3;
}

.color-white-grey-4 {
  background-color: $color-white-grey-4;
}

.color-white-grey-5 {
  background-color: $color-white-grey-5;
}

.color-white-grey-6 {
  background-color: $color-white-grey-6;
}

.color-white-grey-7 {
  background-color: $color-white-grey-7;
}

.color-white-grey-8 {
  background-color: $color-white-grey-8;
}

.color-white-grey-9 {
  background-color: $color-white-grey-9;
}

.color-white-pe {
  background-color: $color-white-pe;
}
