<div class="viewer__widget">
  <div class="viewer__widget__header">
    <div class="viewer__widget__title">{{'subscription-app.overlay.publish'|translate}}</div>
    <div class="viewer__widget__close" (click)="onCloseClick()">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
        <g fill="none" fill-rule="evenodd">
          <g>
            <g>
              <g>
                <path fill="currentColor" d="M9.75 0c5.385 0 9.75 4.365 9.75 9.75s-4.365 9.75-9.75 9.75S0 15.135 0 9.75 4.365 0 9.75 0zm4.303 5.447c-.325-.324-.833-.354-1.19-.088l-.103.088-3.01 3.01-3.01-3.01-.102-.088c-.358-.266-.866-.236-1.19.088-.358.357-.358.936 0 1.293l3.009 3.01-3.01 3.01-.081.094c-.273.358-.246.871.081 1.199.325.324.833.354 1.19.088l.103-.088 3.01-3.011 3.01 3.01.102.09c.358.265.866.235 1.19-.09.358-.356.358-.935 0-1.292l-3.01-3.01 3.01-3.01.082-.094c.273-.358.246-.871-.081-1.199z" transform="translate(-283 -67) translate(52 47) translate(231 20)"/>
              </g>
            </g>
          </g>
        </g>
      </svg>
    </div>
  </div>
  <div class="viewer__widget__body">
    <mat-spinner *ngIf="this.loading" [diameter]="30" [strokeWidth]="2" class="mat-spinner-themed dashboard-spinner"></mat-spinner>
    <div class="theme" *ngIf="!this.loading&&errorMsg">
      <peb-messages [message]="errorMsg">

      </peb-messages>
    </div>
    <div class="theme" *ngIf="!this.loading&&!errorMsg">
      <div class="theme__image">
        <div class="image__overlay" (click)="fileInput.click()">
          <div class="round-container">
            <svg>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-apps-small-imgae"></use>
            </svg>
          </div>
        </div>
        <mat-spinner [diameter]="30" *ngIf="isPictureLoadingSubject|async" [strokeWidth]="2" class="mat-spinner-themed"></mat-spinner>

        <img [src]="theme.picture" alt="" *ngIf="theme.picture" (load)="onload()">
        <img [src]="preview?.data?.preview?.desktop" alt=""  (load)="onload()"  *ngIf="!theme.picture && preview?.data?.preview?.desktop">

      </div>

      <div class="theme__body">
            <input class="theme__name" placeholder="Theme name" [value]="theme.name?theme.name:''" (blur)="updateThemeName($event.target.value)">
        <div class="theme__tags">
          <mat-form-field class="tags-input">
            <mat-chip-list #chipList aria-label="Fruit selection">
              <mat-chip *ngFor="let tag of tags; let i=index"
                        [selectable]="true"
                        [removable]="true"
                        (removed)="remove(i)"
              >
                {{tag}}
                <div matChipRemove>x</div>
              </mat-chip>
              <input placeholder="No tags"
                     [matChipInputFor]="chipList"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     [matChipInputAddOnBlur]="true"
                     (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
          </mat-form-field>
        </div>
      </div>
      <button class="theme__publish-btn radius__top" [disabled]='publishing'  (click)="publish()">
        <span *ngIf="!publishing">Publish</span>
        <mat-spinner [diameter]="30" *ngIf="publishing" [strokeWidth]="2" class="mat-spinner-themed"></mat-spinner>


      </button>
    </div>
  </div>
</div>

<input
  #fileInput
  style="display: none"
  type="file"
  accept="image/*"
  (change)="onImageUpload($event)"
/>
