@import "~@pe/ui-kit/scss/pe_variables";
@import "~@pe/ui-kit/scss/mixins/pe_mixins";

:host {
  .profile {

    &-header {
      text-align: center;
      color: $color-white-grey-4;
    }

    &-switch-button {
      display: block;
      margin: 0 auto;
    }

    .mat-card-transparent {
      box-shadow: none;
      background: transparent;
    }

    .mat-card-transparent-sm .mat-card-content .mat-button-link {
      height: $btn-height-sm;
      margin: 0 auto;
      font-weight: bold;
      font-size: $font-size-large-3;
    }

    .mat-card-transparent-sm .mat-card-content .mat-card-logo-wrapper {
      height: $grid-unit-y * 12;
      position: relative;

      .logo-container {
        margin-top: $margin-adjust * 4;
        overflow: hidden;
        position: relative;
        z-index: 1;
        &, .logo {
          width: $grid-unit-y * 9;
          height: $grid-unit-y * 9;
        }

        .logo {
          object-fit: cover;
          margin-top: 0;
        }
      }

    }

    .profile-switch-button {
      &-text {
        max-width: $grid-unit-x * 12;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        &-with-arrow {
          margin-left: -$padding-xs-horizontal;
        }
      }
    }

    .icon {
      @include payever_transform_rotate(0);
      @include payever_transition($property: transform, $duration: .45s, $effect: ease-out);
      &.opened {
        @include payever_transform_rotate(180deg);
        @include payever_transition($property: transform, $duration: .45s, $effect: ease-in);
      }
    }

    .app-button {
      display: block;
      display: grid;
      margin: 0 auto;
    }

    .app-card {
      height: $grid-unit-y * 17;
    }

    @media(max-width: $viewport-breakpoint-xs-2 - 1) {
      .mat-card.profile-card {
        width: 100%;
      }
    }
  }
}


