<mat-form-field [floatLabel]="floatLabel" 
                [hideRequiredMarker]="hideRequiredMarker"
                [class.mat-form-field-has-prefix]="hasAddonPrepend"
                [class.mat-form-field-addon-style-filled]="isAddonStyleFilled">
  <div class="mat-input-with-addon-inline-prepend-wrapper">
    <pe-form-addon-inline-prepend [addon]="addonPrepend" *ngIf="hasAddonInlinePrepend"></pe-form-addon-inline-prepend>
    <input matInput
           phoneInputFilter
           type="tel"
           class="phone-input"
           [attr.pe-qa-phone-input]="controlQaId"
           [attr.tabindex]="tabIndex"
           [errorStateMatcher]="errorStateMatcher"
           [placeholder]="placeholder"
           [formControl]="formControl"
           [readonly]="disabled || readonly"
           [required]="required"
           [peBlockCopyPaste]="blockCopyPaste"
           (focus)="onFocus($event)"
           (blur)="onBlur($event)">
  </div>
  <mat-error *ngIf="errorMessage && formControl?.invalid" [style.margin-left.px]="addonPrependOffset" class="phone-input-error">{{ errorMessage }}</mat-error>
  <pe-form-addon matSuffix [addon]="addonAppend" *ngIf="hasAddonAppend"></pe-form-addon>
  <pe-form-addon matPrefix #addonPrependElem [addon]="addonPrepend" *ngIf="hasAddonPrepend"></pe-form-addon>
</mat-form-field>
