<img class="locale-flag locale-flag-da img-circle profile-24" *ngIf="code === 'da'" src="../../../assets/images/flags/da.png">
<img class="locale-flag locale-flag-de img-circle profile-24" *ngIf="code === 'de'" src="../../../assets/images/flags/de.png">
<img class="locale-flag locale-flag-en img-circle profile-24" *ngIf="code === 'en'" src="../../../assets/images/flags/en.png">
<img class="locale-flag locale-flag-es img-circle profile-24" *ngIf="code === 'es'" src="../../../assets/images/flags/es.png">
<img class="locale-flag locale-flag-no img-circle profile-24" *ngIf="code === 'no'" src="../../../assets/images/flags/no.png">
<img class="locale-flag locale-flag-sv img-circle profile-24" *ngIf="code === 'sv'" src="../../../assets/images/flags/sv.png">
