@import "~@pe/ui-kit/scss/mixins/pe_mixins";
@import "~@pe/ui-kit/scss/pe_variables";

$image-preview-width: 202px;
$image-preview-height: 112px;
$image-preview-width-mobile: 177px;
$image-preview-height-mobile: 98px;

.image-wrapper {
  margin: $padding-small-vertical;
  display: inline-block;
  border-radius: $border-radius-base * 2;
  text-align: center;
  vertical-align: top;
  position: relative;
  min-width: $image-preview-width / 2;
  min-height: $image-preview-height / 2;
  width: $image-preview-width;
  height: $image-preview-height;

  &.selected {
    border: $color-white solid 1px;
    padding: 2px;
    margin: 2px;
    width: $image-preview-width + 6;
    height: $image-preview-height + 6;

    button.image-wrapper-delete {
      right: 8px;
      top: 8px;
    }
  }

  @media (max-width: $viewport-breakpoint-xs-2) {
    width: $image-preview-width-mobile;
    height: $image-preview-height-mobile;
    min-width: $image-preview-width-mobile / 2;
    min-height: $image-preview-height-mobile / 2;

    &.selected {
      width: $image-preview-width-mobile + 6;
      height: $image-preview-height-mobile + 6;
    }
  }

  button.image-wrapper-add {
    color: $color-white;
    width: 100%;
    height: 100%;
  }

  button.image-wrapper-delete {
    position: absolute;
    right: 6px;
    top: 6px;
    opacity: .65;
    cursor: pointer;
    margin: 0;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: $border-radius-base * 2;
    margin: 0;
    @include payever_animation(osFadeIn, $animation-duration-complex, both);
  }

  .image-wrapper-loader {
    border: 0;
    border-radius: $border-radius-base * 2;
    background-color: $color-grey-3;
    color: $color-white;
    @include pe_flexbox();
    @include pe_flex-direction(column);
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    p {
      margin-bottom: 0;
    }
  }
}
