<ng-container *ngIf="translationsReady$ | async">
<div class="nav-content">
  <ng-container *ngIf="!isSidebarClosed">
    <div
      class="sidebar-wrap"
      [@sidebarAnimation]="{value: gridAnimationState$ | async, params: { sidebarWidth: 254 }}"
      >
      <pe-sidebar
      style="margin-right:0"
        [ngClass]="theme"
        [sidebarFilters]="filters"
        (selectFilters)="navigateTolLink($event)"
      >
      </pe-sidebar>
    </div>
  </ng-container>
    <div
      *ngIf="{
      animationState: gridAnimationState$ | async,
      animationProgress: gridAnimationProgress$ | async
    } as animation"
      class="grid-content__right"
      [class.closed]="isSidebarClosed"
      [@gridAnimation]="{value: animation.animationState, params: { sidebarWidth: isSidebarClosed ? 12: 16 }}"
      (@gridAnimation.done)="gridAnimationProgress = SidebarAnimationProgress.Done"
      (@gridAnimation.start)="gridAnimationProgress = SidebarAnimationProgress.Start"
    >
      <div style="position: relative;height:calc(100% - 10px)">
        <router-outlet></router-outlet>
      </div>
    </div>
</div>

<pe-sidebar-filters-wrapper #filters
>
  <pe-sidebar-header title="Point of Sale" (closeSidebar)="toggleSidebar()"></pe-sidebar-header>
  <pe-sidebar-filter-wrapper
    [expandable]="true"
    [active]="false"
    [title]="'pos-app.navigation.title'|translate"
  >
    <pe-tree-sidebar-filter
      [ngTemplateOutlet]="nodeImageTemplate"
      [ngTemplateOutletContext]="{node:treeData}"
    >
      <ng-template #nodeImageTemplate let-node="node">
        <div (click)="navigateTolLink('dashboard')" class="sidebar-item" [class.active]="getActiveLink('dashboard')">
          <div class="item-icon">
            <img [src]="terminal?.logo" alt="" *ngIf="terminal?.logo">
            <div *ngIf="!terminal?.logo" class="abbreviation">
              <span class="abbreviation__name">{{ terminal?.name | abbreviation }}</span>
            </div>
          </div>
          <span class="ternimal_name">{{terminal?.name}}</span>
        </div>
          <div *ngFor="let item of node" (click)="navigateTolLink(item.id)" class="sidebar-item" [class.active]="getActiveLink(item.id)">
            <img [src]="item.image" alt="" class="sidebar-item__icon">
              {{item.name | translate}}
          </div>
      </ng-template>
    </pe-tree-sidebar-filter>
  </pe-sidebar-filter-wrapper>
</pe-sidebar-filters-wrapper>
</ng-container>
