@import "~@pe/ui-kit/scss/pe_variables";
@import "~@pe/ui-kit/scss/mixins/pe_mixins";
@import "../../components/theme-card";

$unit: 8px;

:host {
  @include pe_flexbox();
  @include pe_flex-direction(column);
  min-height: 100%;
}

body.pe-bootstrap {
  overflow: hidden !important;
}

.list-empty {
  width: 100%;
  padding: $unit * 3;
  @include pe_flexbox();
  @include pe_flex-direction(column);
  @include pe_justify-content(center);
  @include pe_align-items(center);

  h1 {
    text-align: center;
    margin: 0 0 .5em;
    color: white;
  }

  button[mat-button] {
    font-size: $font-size-small;
    font-family: $font-family-sans-serif;
    line-height: $grid-unit-y * 2;
    background-color: $color-white-grey-1;
    color: $color-white;
    min-width: $grid-unit-y * 9;
    text-align: center;
    border: 0;
    outline: none;
    border-radius: 16px;
  }
}

.list {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 0px;
  padding: 25px;

  @media(max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media(max-width: 900px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.loading-themes-spinner {
  width: 100%;
  height: $padding-base-vertical * 12;

  @include pe_flexbox();
  @include pe_justify-content(center);
}

.create {
  width: 100%;
  height: calc(100% - 30px);
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0000001f;
  cursor: pointer;
  border-radius: 10px;

  &__icon {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }

  &__button {
    background-color: #2c2b2e;
    font-size: 16px;
    padding: 5px 15px;
    border-radius: 15px;
  }
}
