.DS_Store
.idea/
dist/
jsdoc
node_modules/
npm-debug.log
svg-spreadsheets
src/doc/assets/guides/html
src/doc/assets/module-guides
public/
package-lock.json
/i18n-serve
/angular_material_schematics-*

coverage
src/doc
src/env.json
*.spec.ts
karma.conf.js
protractor.conf.js
doc-assets
