.logo-wrapper {
  padding-top: 15px;
  text-align: center;
}

.password-dialog {
  margin-top: -170px;
  top: 50%;

  &.expanded {
    margin-top: -100px;
  }
}

.cdk-overlay-backdrop {
  backdrop-filter: blur(60px);
  background: transparent;
  position: fixed;
}

.logo-image {
  max-height: 80px;
}

.password-dialog-title {
  margin: 15px auto;
  text-align: center;
  width: 200px;
}

.mat-form-field {
  box-sizing: border-box;
  height: 42px;
  padding-top: 3px;
}

.mat-expansion-panel-header,
.mat-expansion-panel-header.mat-expanded:focus, 
.mat-expansion-panel-header.mat-expanded:hover {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 0;
  padding-left: 12px;
  transition: all 0.3s linear;
}

.mat-expansion-panel-header:not(.mat-expanded) {
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
}

.mat-accordion .mat-expansion-panel:last-of-type {
  border-radius: 0;
}

.full-width {
  width: 100%;
}

.mat-button-block {
  background: #5656566e;
  border: none;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  color: white;
  cursor: pointer;
  height: 44px;
  outline: none;
  text-align: center;
  width: 100%;
}

.default-logo {
  background-image: linear-gradient(rgb(160, 167, 170), rgb(128, 136, 147));
  border-radius: 60px;
  font-family: sans-serif;
  font-size: 43px;
  height: 100px;
  line-height: 103px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  width: 100px;
}

.login-text {
  font-size: 12px;
  margin-top: 10px;
  position: absolute;
  text-align: center;
  width: 100%;

  &.more-margin {
    margin-top: 25px;
  }
}

.login-link {
  color: white;
}
