<div
  class="cdk-overlay-backdrop cdk-overlay-dark-backdrop cdk-overlay-backdrop-showing"
  [class.blurred]="live$ | async"
>
  <div class="overlay-logo" (click)="logoLinkClick()"></div>
  
  <div class="password-dialog" [class.collapsed]="!(live$ | async)">

    <div class="logo-wrapper">
      <img class="logo-image" *ngIf="logo && logo.url" [attr.src]="logo.url" alt="">
      <div class="default-logo" *ngIf="!logo || !logo.url" [innerText]="logoLetters"></div>
    </div>

    <p class="password-dialog-title" [innerText]="message$ | async">
    </p>

    <mat-accordion *ngIf="live$ | async">
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header class="password-panel-header" collapsedHeight="44px" expandedHeight="44px">
          <mat-panel-title>
            {{ 'password.enter_store_using_password' | translate }}
          </mat-panel-title>

          <div class="mat-expansion-panel-spacer"></div>
          
        </mat-expansion-panel-header>

        <ng-container *ngTemplateOutlet="matExpansionPanelContent"></ng-container>
      </mat-expansion-panel>

      <ng-template #matExpansionPanelContent>
        <form novalidate>

          <mat-form-field class="full-width">
            <mat-error *ngIf="passwordFormControl.invalid">
              {{ 'password.password_incorrect' | translate }}
            </mat-error>
            <input matInput [formControl]="passwordFormControl" type="password"
                   placeholder="{{ 'password.password_label' | translate }}">
          </mat-form-field>

          <button mat-raised-button
              class="mat-button-block"
              type="submit"
              (click)="onSubmit()">
              {{ 'password.enter' | translate }}
          </button>
        </form>
      </ng-template>
    </mat-accordion>

    <div class="login-text" [class.more-margin]="!(live$ | async)">{{ 'password.are_you_owner' | translate }} <a href="javascript:void(0)" class="login-link" (click)="goToLogin()">{{ 'here' | translate }}</a></div>
  </div>
</div>
