<div [ngClass]="{'blurry-box': isGeneratedCode}">
  <pe-channel-settings-box (clickedButton)="onClickButton($event)"
                           [boxTitle]="'channels.textLink.name' | translate"
                           [allowSettingsManualScroll]="allowSettingsManualScroll"
  >
    <ng-container settings>
      <div class="actions-container separated">
        <div *ngIf="form" class="form-table settings-container" [formGroup]="form">

          <!-- Height -->
          <div class="settings-box">
            <span class="name-setting" translate>channels.textLink.height</span>
            <checkout-channel-input [formControlRef]="form.controls['height']"
                                    (inputFocus)="setInputFocus($event)"></checkout-channel-input>
          </div>

          <!-- Text size -->
          <div class="text-size settings-box">
            <span class="name-setting" translate>channels.textLink.textSize</span>
            <button class="mat-button-link mat-button-bold mat-button-xs mat-button-width-lg"
                      mat-button
                      [matMenuTriggerFor]="menuSizes">
                  {{ form.controls['textSize'].value }}
              </button>
            <mat-menu #menuSizes="matMenu" class="mat-menu-dark">
              <button *ngFor="let type of textSizeType"
                      mat-menu-item
                      (click)="setFormValue('textSize', type)"
              >{{ type }}</button>
            </mat-menu>
          </div>

          <!-- Alignemnt -->
          <div class="alignment settings-box">
            <span class="name-setting" translate>channels.textLink.alignment</span>
            <div class="sub-box">
              <button class="mat-button-link mat-button-bold mat-button-xs mat-button-width-lg"
                      mat-button
                      [matMenuTriggerFor]="menuAlignment">
                <svg class="icon icon-12"><use [attr.xlink:href]="'#icon-ep-' + form.controls['alignment'].value + '-16'"></use></svg>
              </button>
                <mat-menu #menuAlignment="matMenu" class="mat-menu-dark">
                  <button *ngFor="let type of alignmentType"
                          mat-menu-item
                          (click)="setFormValue('alignment', type.value)"
                  >
                    <svg class="icon icon-12"><use [attr.xlink:href]="'#icon-ep-' + type.name"></use></svg>
                  </button>
                </mat-menu>
              </div>
          </div>

          <!-- Link color -->
          <div class="settings-box">
            <span class="name-setting" translate>channels.textLink.linkColor</span>

            <pe-color-picker class="rectangular-color-picker"
                             [formControlRef]="form.controls['linkColor']"
            ></pe-color-picker>
          </div>

          <mat-divider class="settings-divider" [vertical]="true" [class.mat-divider-indented]="true"></mat-divider>

          <!-- Visibility -->
          <div class="settings-box">
            <span class="name-setting" translate>channels.textLink.visibility</span>
            <mat-slide-toggle formControlName="isVisible"
                              class="mat-slide-toggle-xs"
            ></mat-slide-toggle>
          </div>

          <!-- Adaptive -->
          <div class="settings-box">
            <span class="name-setting" translate>channels.textLink.adaptive</span>
            <mat-slide-toggle formControlName="adaptiveDesign"
                              class="mat-slide-toggle-xs"
            ></mat-slide-toggle>
          </div>

          <!-- Width -->
          <div class="settings-box" [class.hidden]=" !!form.controls['adaptiveDesign'].value ">
            <span class="name-setting" translate>channels.textLink.width</span>
            <checkout-channel-input [formControlRef]="form.controls['width']"
                                    (inputFocus)="setInputFocus($event)"></checkout-channel-input>
            <!--<input type="number" class="input-settings" formControlName="width" />-->
          </div>

          <mat-divider class="settings-divider" [vertical]="true" [class.mat-divider-indented]="true"></mat-divider>

          <!-- Checkout Overlay -->
          <div class="settings-box">
            <span class="name-setting" translate>channels.textLink.checkoutOverlay</span>
            <mat-slide-toggle [checked]="isCheckoutOverlayControlValue"
                              class="mat-slide-toggle-xs"
                              (change)="toggleOverlay('fin_exp', $event.checked)"
            ></mat-slide-toggle>
          </div>

          <!-- Calculator + Overlay -->
          <div class="settings-box">
            <span class="name-setting" translate>channels.textLink.calculatorPlusOverlay</span>
            <mat-slide-toggle [checked]="isCalculatorOverlayControlValue"
                              class="mat-slide-toggle-xs"
                              (change)="toggleOverlay('fin_calculator', $event.checked)"
            ></mat-slide-toggle>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container example>
      <div [class.hidden]="errorMessage || showSpinner" [class.adaptive]="form?.controls['adaptiveDesign']?.value" #preview></div>

      <div [class.hidden]="!errorMessage" class="mat-error">{{ errorMessage | translate }}</div>

      <div *ngIf="showSpinner" class="spinner-container">
        <div class="spinner-container-spinner">
          <mat-spinner [diameter]="spinnerDiameter" [strokeWidth]="spinnerWidth" ></mat-spinner>
        </div>
      </div>
      <div *ngIf="noConnections && !showSpinner" class="empty-connections-container">
        <div class="empty-connections-description">
          <span translate>channels.textLink.noConnectionMessage</span>
        </div>
        <div class="empty-connections-action">
            <button mat-raised-button
                    [class.mat-button-rounded]="true"
                    [class.mat-button-xs]="true"
                    (click)="onOpenConnect()"
                    class="expansion-list-button"
                    type="button"
                    color="muted-light">
              <pe-progress-button-content class="mat-progress-spinner-light"
                                          [spinnerDiameter]="15"
                                          [spinnerStrokeWidth]="2"
                                          [loading]="false">
                {{channels.textLink.action.openConnect | translate}}
              </pe-progress-button-content>
            </button>
          </div>
      </div>
    </ng-container>
  </pe-channel-settings-box>
</div>
<checkout-generate-html [generatedHtml]="generatedHtml"
                        (clickedGeneratedBox)="onClickGeneratedBox($event)"
                        *ngIf="isGeneratedCode"
></checkout-generate-html>
