<div class="pe-file-picker-field-container"
  [class.text-danger]="errorMessage && isErrorState">
  <span *ngIf="label" class="pe-file-picker-field-label" [innerHTML]="label">
  </span>
  <div *ngIf="!multiple && formControl.value?.length; else uploadArea"
    class="pe-file-picker-field-value">
    <span class="pe-file-picker-field-name">
      {{ formControl.value[0].name }}
    </span>
    <button mat-raised-button
      class="pe-file-picker-delete mat-button-rounded mat-button-icon mat-button-xs"
      color="muted-light"
      type="button"
      [disabled]="disabled"
      (click)="!disabled && clearFiles()">
      <svg class="icon icon-8">
        <use xlink:href="#icon-b-remove-16"></use>
      </svg>
    </button>
  </div>
  <ng-template #uploadArea>
    <div class="pe-file-picker-drop-area"
      peFileDrop
      (onFileOver)="onFileOver($event)"
      (onFileDrop)="onFileDrop($event)"
      [class.pe-file-picker-dragging]="isDragging"
      [class.pe-file-picker-drop-area-error]="isErrorState"
      [class.pe-file-picker-drop-area-disabled]="disabled"
      [attr.tabindex]="tabIndex"
      (click)="!disabled && fileSelector.click()">
      <span class="pe-file-picker-drop-area-label" [innerHTML]="placeholder || description"></span>
      <span class="pe-file-picker-drop-area-icon">
        <svg class="icon icon-14">
          <use xlink:href="#icon-plus-16"></use>
        </svg>
      </span>
      <input #fileSelector
        type="file"
        class="hidden"
        [accept]="accept"
        [disabled]="disabled"
        [multiple]="multiple"
        (change)="pickFiles($event)">
    </div>
  </ng-template>
</div>
<div *ngIf="multiple && formControl.value?.length"
  class="pe-file-picker-list-wrapper">
  <mat-list class="mat-list-transparent"
    peScrollHide>
    <ng-container *ngFor="let file of formControl.value; let i = index">
      <mat-list-item class="mat-list-item-no-padding-right mat-list-item-no-padding-left">
        <img *ngIf="imageUrls.has(file)"
          class="pe-file-picker-image"
          [src]="imageUrls.get(file)"
          [alt]="file.name">
        <span class="pe-file-picker-file-name">{{ file.name }}</span>
        <div class="mat-list-spacer"></div>
        <button mat-raised-button
          type="button"
          class="pe-file-picker-delete mat-button-rounded mat-button-xs mat-list-item-close"
          color="muted-light"
          (click)="deleteFile(i)">
          <svg class="icon icon-8">
            <use xlink:href="#icon-b-remove-16"></use>
          </svg>
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
    </ng-container>
  </mat-list>
</div>
