<ng-container *ngIf="translationsReady$|async">
<div class="nav-content" [ngClass]="theme">
  <ng-container *ngIf="!isSidebarClosed">
    <div
      class="sidebar-wrap"
      [@sidebarAnimation]="{value: gridAnimationState$ | async, params: { sidebarWidth: 254 }}"
      >
      <pe-sidebar
      style="margin-right:0"
        [ngClass]="theme"
        [sidebarFilters]="filters"
      >
      </pe-sidebar>
    </div>
  </ng-container>

    <div
      *ngIf="{
      animationState: gridAnimationState$ | async,
      animationProgress: gridAnimationProgress$ | async
    } as animation"
      class="grid-content__right"
      style="overflow: hidden; height:calc(100% + 10px);"
      [@gridAnimation]="{value: animation.animationState, params: { sidebarWidth: 0 }}"
      (@gridAnimation.done)="gridAnimationProgress = SidebarAnimationProgress.Done"
      (@gridAnimation.start)="gridAnimationProgress = SidebarAnimationProgress.Start"
    >
      <div style="position: relative;height:calc(100% - 10px)">
        <router-outlet></router-outlet>
      </div>
    </div>
</div>

<pe-sidebar-filters-wrapper #filters
>
  <pe-sidebar-header [title]="'sidebar.title' | translate" (closeSidebar)="toggleSidebar()"></pe-sidebar-header>
  <pe-sidebar-filter-wrapper
    [expandable]="true"
    [active]="false"
    [title]="'sidebar.sections.navigation.title'|translate"
  >
    <pe-tree-sidebar-filter
      [ngTemplateOutlet]="nodeImageTemplate"
      [ngTemplateOutletContext]="{node:treeData}"
    >
      <ng-template #nodeImageTemplate let-nodes="node">
          <div
            *ngFor="let item of nodes"
            class="sidebar-item"
            routerLinkActive="active"
            [routerLink]="item.link"
            (click)="navigateTolLink(item.id)"
          >
            <svg class="sidebar-item__icon">
              <use [attr.xlink:href]="item.image"></use>
            </svg>
              {{item.name|translate}}
          </div>
      </ng-template>
    </pe-tree-sidebar-filter>
  </pe-sidebar-filter-wrapper>
</pe-sidebar-filters-wrapper>
</ng-container>
