//
// Base
// ----------------------------

pre, pre code {
  background: $color-very-light-gray;
  border: none;
  padding: 0;
  margin: 0;
  line-height: $grid-unit-y * 2;
}

pre {
  padding: $grid-unit-y $pe_hgrid_gutter/2;
}

svg {
  vertical-align: middle;
}
