@import '~@pe/ui/theming/theming';
@import '~@pe/ui/theming/all-theme';

@import '~@angular/cdk/overlay';
@import "~@angular/material/theming";

@import '~@angular/cdk/overlay-prebuilt.css';
$theme-dark: peb-theme-choose('dark');
@include peb-theme($theme-dark);

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Open Sans Regular'),
    local('Open Sans-Regular'),
    url('../../../../node_modules/typeface-open-sans/files/open-sans-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../../../node_modules/typeface-open-sans/files/open-sans-latin-400.woff') format('woff'); /* Modern Browsers */
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
}

select, input, textarea {
  font-family: 'Roboto', sans-serif;
}

.icon-16 {
  width: 16px;
  height: 16px;
}

.sidebar-menu__item.light{
  background-color: #fafafa!important;
}

.light {
  .mat-dialog-container {
    background-color: #bdbebe;
  }
}

.transparent {
  .mat-dialog-container {
    background-color: #24272e;
  }
}

.dark {
  .mat-dialog-container {
    background-color: #24272e;
  }
}

.settings-dialog {
  .mat-dialog-container {
    border-radius: 12px;
    padding: 0 24px;
    overflow-x: hidden;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
  }
}

.settings-dialog-without-padding {
  .mat-dialog-container {
    padding: 0;
    overflow-x: hidden;
  }
}

.new-employee-dialog {
  .overlay-widget-container {
    .overlay-widget {
      &__content {
        padding: 0;
        overflow-y: auto;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }
}

.pe-scrollbar {
  overflow-y: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }
}

