@import "~@pe/ui-kit/scss/pe_variables";

.form-table {
  border-radius: 0;
  fieldset {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.btn-link {
  color: $color-white-opacity-6;
}

select.form-control option {
  color: $color-black;
}

:host ::ng-deep {
  .icon {
    color: $color-white; // For close icon
  }
}
