<mat-form-field [floatLabel]="floatLabel"
                [hideRequiredMarker]="hideRequiredMarker"
                [class.mat-form-field-has-prefix]="hasAddonPrepend">
  <div class="mat-input-with-addon-inline-prepend-wrapper">
    <pe-form-addon-inline-prepend [addon]="addonPrepend" *ngIf="hasAddonInlinePrepend"></pe-form-addon-inline-prepend>
    <input matInput
           [attr.pe-qa-input-password]="controlQaId"
           [attr.tabindex]="tabIndex"
           [errorStateMatcher]="errorStateMatcher"
           [placeholder]="placeholder"
           type="password"
           [formControl]="formControl"
           [readonly]="disabled || readonly"
           [required]="required"
           [peBlockCopyPaste]="blockCopyPaste"
           (focus)="onFocus($event)"
           (blur)="onBlur($event)">
  </div>
  <mat-error *ngIf="errorMessage && formControl?.invalid" [style.margin-left.px]="addonPrependOffset">{{ errorMessage }}</mat-error>
  <pe-form-addon matSuffix [addon]="addonAppend" *ngIf="hasAddonAppend"></pe-form-addon>
  <pe-form-addon matPrefix #addonPrependElem [addon]="addonPrepend" *ngIf="hasAddonPrepend"></pe-form-addon>
</mat-form-field>
<div *ngIf="showForgotPassword" class="forgot-password-link">
  <a mat-button class="mat-button-link" translate (click)="forgotPasswordClick.emit($event)">ng_kit.forms.labels.password_forgot_link</a>
</div>
<div *ngIf="showPasswordRequirements && formControl.errors && focused" class="input-password-errors">
  <ul>
    <li>{{ 'ng_kit.forms.error.validator.password.title' | translate }}</li>
    <li [class.valid]="formControl.errors.showLengthError">
      <svg class="icon icon-16"><use xlink:href="#icon-check-rounded-16"></use></svg>
      {{ 'ng_kit.forms.error.validator.password.min_characters' | translate: { minCharacters: 8 } }}
    </li>
    <li [class.valid]="formControl.errors.showRegisterError">
      <svg class="icon icon-16"><use xlink:href="#icon-check-rounded-16"></use></svg>
      {{ 'ng_kit.forms.error.validator.password.case_type' | translate }}
    </li>
    <li [class.valid]="formControl.errors.showDigitError">
      <svg class="icon icon-16"><use xlink:href="#icon-check-rounded-16"></use></svg>
      {{ 'ng_kit.forms.error.validator.password.digit' | translate }}
    </li>
    <li [class.valid]="formControl.errors.showSpecialError">
      <svg class="icon icon-16"><use xlink:href="#icon-check-rounded-16"></use></svg>
      {{ 'ng_kit.forms.error.validator.password.special_character' | translate }}
    </li>
  </ul>
</div>
