<div class="dialog-wrapper">
    <div class="content">
        <img src="assets/icons/affiliate-icon-colored.svg" />
        <h2>payever Affiliate</h2>
        <p>Create your own affiliate programs.</p>
        <div class="buttons">
            <button class="blue" (click)="onGetStartClick()">Get Started</button>
            <button (click)="onBackDashboardClick()" mat-dialog-close>Back to dashboard</button>
        </div>
        <div class="footer">
            <div>Hereby I confirm the Terms and Prcing</div>
            <div>of the payever Affiliate.</div>
        </div>        
    </div>
</div>