:host {
  align-items: center;
  background-color: #1c1d1e;
  display: flex;
  justify-content: space-between;
  padding-top: 1em;
  padding-right: 1.125em;
  padding-bottom: 1em;
  padding-left: 0.5em;
  position: relative;
  margin-top: 0.0625em;
}

button {
  appearance: none;
  border: unset;
  font-family: inherit;
  outline: unset;
}

.list-item {
  &__content {
    span {
      align-items: center;
      color: rgba(255, 255, 255, 0.95);
      display: flex;
      font-size: 12px;
      font-weight: 400;
      line-height: 1.1;
      margin-left: 0.75em;
    }
  }

  &__remove {
    background-color: transparent;
    color: #eb4653;
    cursor: pointer;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.1;
    padding: 0;
    white-space: nowrap;
  }
}
