<pe-chat
  class="pe-chat show"
  [ngClass]="theme"
  [theme]="theme"
  [shown$]="shown$"
  [bgColor]="bgChatColor"
  [style.background-color]="bgChatColor"
  [noMessagesPlaceholder]="peMessageChatRoomService.noMessagesPlaceholder"
>
  <pe-chat-header 
    *ngIf="peMessageChatRoomListService.activeChat$ | async"
    [avatar]="(peMessageChatRoomListService.activeChat$ | async)?.avatar"
    [activeChatInitials]="(peMessageChatRoomListService.activeChat$ | async)?.title || ''"
    [activeChannel]="activeChannel"
    [channelMenuItems]="peMessageChatRoomService.channelMenuItems"
    title="{{ (peMessageChatRoomListService.activeChat$ | async)?.title }}"
    (channelMenuItem)="channelMenuItem($event)"
    [showActions]="true"
    [timeInfo]="timeInfo"
    [totalUnreadMessages]="(unreadMessages | async) || '0'"
    [messageAppColor]="messageAppColor"
    [accentColor]="accentColor"
    [mobileView]="mobileView"
    [hideChat]="isLiveChat || isEmbedChat"

    (onHideChat)="clickOnHideChat()"
    (onAvatarInHeader)="onAvatarInHeader()"

    (onDelete)="peMessageChatRoomListService.deleteChat()"
    [class.mobile-view]="mobileView"
  ></pe-chat-header>
  <pe-chat-message 
    *ngFor="let message of messageList"
    [type]="message.type ? message.type : peChatMessageType.Default"
    [files]="message.attachments"
    [avatar]="avatar ? avatar : message.avatar"
    [message]="message.content"
    [sender]="messageTitle ? messageTitle : message.name"
    [date]="message.sentAt"
    [dateFormat]="'HH:mm'"
    [reply]="message.reply"
    [theme]="message.isCurrentUserSender ? peMessageThemeService.setTheme(messagesBottomColor) : peMessageThemeService.setTheme(messagesTopColor)"
    [status]="message.isCurrentUserSender ? (message.status || 'not-defined') : ''"
    [grouped]="message.grouped"
    [messagesBottomColor]="message.isCurrentUserSender ? messagesBottomColor : messagesTopColor"
    [accentColor]="messageAccentColor(message)"
    [components]="message?.components"
    [interactive]="message?.interactive"
    [sign]="message.sign"
    [class.mobile-view]="mobileView"
    (markedBox)="markedBox($event, message)"
    (deleteBox)="deleteBox(message)"
    (messageContextMenu)="openMessageContextMenu($event, message)"
  ></pe-chat-message>
  <pe-chat-form
    *ngIf="(peMessageChatRoomListService.activeChat$ | async)"
    sender="{{ peMessageService.activeUser?.userAccount?.firstName }} {{ peMessageService.activeUser?.userAccount?.lastName }}"
    [attachMenuItems]="attachMenuItems"
    [appsMenuItems]="appsMenuItems"
    [dropFiles]="true"
    [showAttachButton]="true"
    [showSendButton]="true"
    [messageAppColor]="messageAppColor"
    [accentColor]="accentColor"
    (send)="peMessageChatRoomService.sendMessage($event)"
    (attachMenuItem)="attachMenuItem($event)"
    (appsMenuItem)="appsMenuItem($event)"
    (smallBoxItem)="smallBoxItem($event)"
    (largeBoxItem)="largeBoxItem($event)"
    [appsImages]="appsImages"
    [showForm]="temporarySolution()"
    [class.mobile-view]="mobileView"
    [smallBoxUrlItems]="smallBoxUrlItems"
  ></pe-chat-form>
</pe-chat>