@import "~@pe/ui-kit/scss/pe_variables";
@import "~@pe/ui-kit/scss/mixins/pe_mixins";

.info-box-background-blur {
  backdrop-filter: blur(30px);
  transform: translateZ(0);
  background-color: rgba(67,67,67,.6) !important;
}

.blurred-background-info-box {
  border-radius: 12px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
  @include payever_animation(initOverlay, $animation-duration-complex);
}
