@import "~@pe/ui-kit/scss/pe_variables";
@import "~@pe/ui-kit/scss/mixins/pe_mixins";

.color-panel {
  display: flex;
  justify-content: center;
  width: 311px;
  flex-wrap: wrap;
  padding: 4px;
}

.color-panel-item {
  width: 75px;
  height: 50px;
  border-radius: 0;
  margin: 18px 13px;
  cursor: pointer;
}

.panel-label {
  text-align: center;
}
