.studio-select {
  &__front-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 12px 5px;
      background: transparent;
      transition: all .2s;
      cursor: pointer;
      &:hover, &.active {
          background: #181615;
      }
      &.active {
          padding: 12px 15px;
          .studio-select__icon {
              transform: rotate(180deg);
          }
      }
  }
  &__icon {
      transition: all .2s;
      transform: rotate(0);
      svg {
          height: 10px;
      }
  }
  .dropdown {
      display: block;
      background: #181615;
      border-radius: 0 0 12px 12px;
      position: absolute;
      width: 100%;
      z-index: 100;
      &__item {
          border-top: 1px solid #97979733;
          padding: 12px 15px;
          cursor: pointer;
          transition: all .3s;
      }
      &:hover {
          &__item {
              background-color: #212020;
          }
      }
  }
}
