<mat-form-field [floatLabel]="floatLabel"
                [hideRequiredMarker]="hideRequiredMarker"
                [class.mat-form-field-has-prefix]="addonPrepend">
  <input type="text"
         matInput
         pe-google-autocomplete
         [attr.pe-qa-autocomplete-google-places]="controlQaId"
         [attr.tabindex]="tabIndex"
         [autocompleteType]="'address'"
         [countriesOnly]="countriesOnly"
         [errorStateMatcher]="errorStateMatcher"
         [formControl]="formControl"
         [placeholder]="placeholder"
         [readonly]="disabled || readonly"
         [required]="required"
         [peBlockCopyPaste]="blockCopyPaste"
         (address)="onAddressChanged($event)"
         (focus)="onFocus($event)"
         (blur)="onBlur($event)"
  >
  <mat-error *ngIf="errorMessage && formControl?.invalid" [style.margin-left.px]="addonPrependOffset">{{ errorMessage }}</mat-error>
  <pe-form-addon matSuffix [addon]="addonAppend" *ngIf="hasAddonAppend"></pe-form-addon>
  <pe-form-addon matPrefix #addonPrependElem [addon]="addonPrepend" *ngIf="hasAddonPrepend"></pe-form-addon>
</mat-form-field>
