.DS_Store
.idea/
npm-debug.log
package-lock.json
*.spec.ts
karma.conf.js
protractor.conf.js
*.sh
*.e2e
*.yml
*.test
angular.json
Dappfile
namespace.json
tsconfig.json
tslint.json

.helm/
bin/
cert/
/i18n-serve
node_modules/
dist/
test/
