@import "~@pe/ui-kit/scss/pe_variables";

:host {
  @media screen and (max-width: $viewport-breakpoint-sm-2 - 1) {
    .locale-switcher {
      .dropdown-toggle {
        &:after {
          background: transparent;
        }
      }
    }
  }
  .dropdown-menu {
    right: $pe_hgrid_gutter/4;
  }
  li {
    img {
      margin-left: -$pe_hgrid_gutter/2;
      margin-right: $pe_hgrid_gutter/2;
    }
  }
}

.locales-switcher-menu {
  background-color: #444 !important;
}

.locales-switcher-item {
  color: rgba(255, 255, 255, 0.9) !important;

  &:hover {
    background-color: rgba(255, 255, 255, 0.3) !important;
  }
}