@import '../../../../../../../../scss/pe_variables';

.color-blue {
  background-color: $color-blue;
}

.color-dark-blue {
  background-color: $color-dark-blue;
}

.color-light-blue {
  background-color: $color-light-blue;
}

.color-green {
  background-color: $color-green;
}

.color-dark-green {
  background-color: $color-dark-green;
}

.color-red {
  background-color: $color-red;
}

.color-dark-red {
  background-color: $color-dark-red;
}

.color-orange {
  background-color: $color-orange;
}

.color-dark-orange {
  background-color: $color-dark-orange;
}
