{
  "custom": {
    "storage": "https://payevertesting.blob.core.windows.net",
    "i18n": "https://translation-backend.test.devpayever.com",
    "proxy": "https://proxy.test.devpayever.com",
    "cdn": "https://payevertest.azureedge.net"
  },
  "backend": {
    "appRegistry": "https://app-registry.test.devpayever.com",
    "auth": "https://auth.test.devpayever.com",
    "builder": "https://builder-backend.test.devpayever.com",
    "channels": "https://channels-backend.test.devpayever.com",
    "checkout": "https://checkout-backend.test.devpayever.com",
    "commerceos": "https://commerceos-backend.test.devpayever.com",
    "connect": "https://connect-backend.test.devpayever.com",
    "coupons": "https://coupons-backend.test.devpayever.com",
    "debitoor": "",
    "mailer": "https://mailer.test.devpayever.com",
    "marketing": "https://marketing-backend.test.devpayever.com",
    "media": "https://media.test.devpayever.com",
    "payments": "https://checkout-php.test.devpayever.com",
    "plugins": "https://plugins-backend.test.devpayever.com",
    "pos": "https://pos-backend.test.devpayever.com",
    "products": "https://products-backend.test.devpayever.com",
    "settings": "https://settings-backend.test.devpayever.com",
    "shipping": "https://shipping-backend.test.devpayever.com",
    "shops": "https://shops-backend.test.devpayever.com",
    "thirdParty": "https://third-party.test.devpayever.com",
    "transactions": "https://transactions-backend.test.devpayever.com",
    "twilio": "",
    "users": "https://users.test.devpayever.com",
    "widgets": "https://widgets-backend.test.devpayever.com",
    "wallpapers": "https://wallpapers-backend.test.devpayever.com",    
    "notifications": "https://notifications-backend.test.devpayever.com",
    "notificationsWs": "wss://notifications-backend.test.devpayever.com/ws",
    "inventory": "https://inventory-backend.test.devpayever.com"
  },
  "frontend": {
    "builder": "https://builder-frontend.test.devpayever.com",
    "builderTranslate": "https://builder-translate-frontend.test.devpayever.com/",
    "checkoutWrapper": "https://checkout-wrapper-frontend.test.devpayever.com",
    "commerceos": "https://commerceos.test.devpayever.com",
    "connect": "https://connect-frontend.test.devpayever.com",
    "coupons": "",
    "marketing": "https://marketing-frontend.test.devpayever.com",
    "pos": "https://pos-frontend.test.devpayever.com",
    "posClient": "https://pos-client.test.devpayever.com",
    "products": "https://products-frontend.test.devpayever.com",
    "settings": "https://settings.test.devpayever.com",
    "shipping": "https://shipping-frontend.test.devpayever.com",
    "shops": "https://shops-frontend.test.devpayever.com",
    "shopsClient": "https://shops-client.test.devpayever.com",
    "transactions": "https://transactions-frontend.test.devpayever.com"
  }
}
