body.pe-bootstrap {
  background: #222;
}

body > .os-background-wrap {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background-image: url('/assets/commerseos-background.jpg');
}

.os-platform-content {
  height: 100%;
  margin: 0 -24px;
  position: relative;
}

.top-bar {

  .mat-select-value {
    width: auto;
    display: inline-block;
    overflow: inherit;
    color: white;
    max-width: unset;
  }

  .mat-select-value-text {
    font-weight: 500;
  }
}
