<div class="data-grid-wrap" [ngClass]="theme">
  <pe-data-grid
    #dataGridComponent
    [theme]="theme"
    [items]="items"
    [multipleSelectedActions]="multipleSelectedActions"
    [filterItems]="filters"
    [isShowGridItemInfo]="true"
    [dataListOptions]="gridOptions"
    [sortByActions]="sortByActions"
    (searchRemove)="onSearchRemove($event)"
    (createFilter)="onFilterCreate($event)"
    (searchChanged)="onSearchChanged($event)"
    [searchItems]="searchItems"
    (toggleExternalSideMenu)="onToggleSidebar($event)"
  >
    <pe-data-grid-item
      [item]="addNewItem"
      [actions]="[addItemAction]"
      [isShowSimplifyGrid]="true"
      [theme]="theme"
      [selectable]="false"
      [isShowGridItemInfo]="false"
      class="grid-item"
    >
      <div class="add-new">
        <svg>
          <defs>
            <linearGradient id="add@2x-a" x1="50%" x2="48.333%" y1="0%" y2="107.889%">
              <stop offset="0%" stop-color="#007DFE"/>
              <stop offset="100%" stop-color="#005CBB"/>
            </linearGradient>
          </defs>
          <use href="#icon-shipping-add"></use>
        </svg>
      </div>
    </pe-data-grid-item>

    <ng-container *ngIf="!isFiltered">
      <pe-data-grid-item
        *ngFor="let item of items"
        [item]="item"
        [actions]="[editItemAction]"
        [isShowSimplifyGrid]="true"
        [theme]="theme"
        [selectable]="true"
        [isShowGridItemInfo]="true"
        (contextmenu)="openContextMenu($event, item, contextMenu)"
        class="grid-item"
      >
        <div class="shipping-items">
          <div class="shipping-items__title-container">
            <span class="title-text">{{ item.data.name }}</span>
          </div>
          <div class="shipping-items__content">
            <span>{{ item.data.type }}</span>
            <span
              >{{ item.data.width }} x {{ item.data.height }} x {{ item.data.length }} {{ item.data.dimensionUnit }},
              {{ item.data.weight }} {{ item.data.weightUnit }}</span
            >
          </div>
        </div>
      </pe-data-grid-item>
    </ng-container>

    <ng-container *ngIf="isFiltered">
      <pe-data-grid-item
        *ngFor="let item of filteredItems"
        [item]="item"
        [actions]="[editItemAction]"
        [isShowSimplifyGrid]="true"
        [theme]="theme"
        [selectable]="true"
        [isShowGridItemInfo]="true"
        (contextmenu)="openContextMenu($event, item, contextMenu)"
        class="grid-item"
      >
        <div class="shipping-items">
          <div class="shipping-items__title-container">
            <span class="title-text">{{ item.data.name }}</span>
          </div>
          <div class="shipping-items__content">
            <span>{{ item.data.type }}</span>
            <span>{{ item.data.width }} x {{ item.data.height }} x {{ item.data.length }} cm, {{ item.data.weight }} kg</span>
          </div>
        </div>
      </pe-data-grid-item>
    </ng-container>
  </pe-data-grid>
</div>
<ng-template #contextMenu>
  <peb-shipping-context-menu
    [actions]="contextActions"
    (close)="closeContextMenu()"
  ></peb-shipping-context-menu>
</ng-template>
