.my-panel {
  .mat-dialog-container {
    background: rgba(67, 67, 67, 0.95);
    padding: 54px 36px 36px 36px;
  }
  .buttons {
    margin-top: 8px;
    display: flex;
    justify-content: space-evenly;
    button {
      border-radius: 8px;
      border: none;
      outline: none;
      background-color: rgba(255, 255, 255, 0.2);
    }
    button:hover {
      background-color: rgba(255, 255, 255, 0.45);
    }
  }
}
