.page {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 620px;
  margin: auto;
  margin-bottom: 12px;

  @media (max-width: 900px) {
    max-width: unset;
    margin: 0 50px;
  }

  @media (max-width: 500px) {
    max-width: unset;
    margin: 0 15px;
  }

  &--without-title {
    margin-top: 50px;
  }

  &__title {
    color: #fff;
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: bold;
  }
}

.group {
  margin-bottom: 15px;

  &__label {
    display: inline-block;
    color: rgba(127, 127, 127, 0.95);
    font-size: 11px;
    text-transform: uppercase;
    margin-bottom: 8px;
    font-family: 'Roboto', sans-serif;
  }

  &__items {
    margin: 0 -18px;
  }

  &__item {
    display: flex;
    align-items: center;
    background-color: #1c1d1e;
    padding: 10px 10px 10px 16px;
    transition: background 0.2s;
    text-decoration: none;
    position: relative;

    &:first-of-type {
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
    }

    &:last-of-type {
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
    }

    &:hover {
      text-decoration: none;
    }

    &-no-background {
      background-color: unset;
      width: 100%;
    }

    &.without-padding {
      padding: 0 0 0 16px;

      &:last-of-type {
        .list-item-space {
          border-bottom: none;
        }
      }
    }

    &.list-item {
      border-bottom: 1px solid #393939;
    }

    &:last-child {
      border: none;
    }

    .list-item-space {
      border-bottom: 1px solid #393939;
      padding: 10px 0;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &--link {
      cursor: pointer;
      display: flex;
      align-items: center;
      background-color: #1c1d1e;
      padding: 18px;
      transition: background 0.2s;
      text-decoration: none;
      border-radius: 12px;
    }

    &--link:hover {
      cursor: pointer;
      background-color: #0371e2;
      text-decoration: unset;
    }

    &-icon {
      width: 20px;
      height: 20px;
      margin: 0 10px 0 0;
      border-radius: 5px;
      background-color: #86868b;
    }

    &-label {
      color: rgba(255, 255, 255, 0.95);
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      margin: 0 5px 0 5px;
      font-family: 'Roboto', sans-serif;
    }

    &-right-content {
      display: flex;
      align-items: center;
      margin: -10px 0 -10px auto;

      &-btn {
        cursor: pointer;
      }
    }

    &-button,
    &-link {
      background-color: transparent;
      color: #0091df;
      font-size: 11px;
      cursor: pointer;
      border: none;
      text-align: right;
      outline: none;
      text-decoration: none;
      line-height: 1.1;
      font-family: Roboto, sans-serif;

      &:hover {
        text-decoration: none;
      }

      &:disabled {
        opacity: 0.3;
      }
    }

    &-details {
      font-size: 18px;
      color: #9c9c9c;
    }

    &.unaligned {
      align-items: unset;
    }
  }
}

.add-button {
  height: 40px;
  width: 100%;
  background-color: #1c1d1e;
  color: #0091df;
  font-size: 16px;
  line-height: 1.33;
}

.input-padding {
  padding: 6px 0 !important;
}

.full-input-padding {
  padding: 6px !important;
}

.textarea-padding {
  padding: 8px !important;
}
